    <div class="worker-container">
        <div class="name gallery-item">
            <h1>name</h1>
        </div>
        <div class="gallery-man-cover gallery-item"></div>
        <div class="gallery-woman-cover gallery-item"></div>
        <div class="about-worker gallery-item"></div>
        <div class="arrow gallery-item"></div>
    </div>
