 .worker-container {
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    padding: 15px;
    background-color: #888888;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 10vh);
    grid-gap: 10px;
    .gallery-item {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .name {
      grid-column: 1 / span 6;
      grid-row: 1/ span 1;
      h1 {
        margin: 0px;
        font-size: 70px;
        text-align: center;
        color: #673ab7;
        height: 90%;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
      }
    }
    .gallery-man-cover {
      grid-column: 1 / span 3;
      grid-row: 2/ span 4;
      background-image: url(~src/assets/Nasz-salon.jpg);
    }
    .gallery-woman-cover {
      grid-column: 4 / span 3;
      grid-row: 2/ span 4;
      background-image: url(~src/assets/Nasz-salon.jpg);
    }
    .about-worker {
      grid-column: 7 / span 2;
      grid-row: 1/ span 3;
      background-image: url(~src/assets/Nasz-salon.jpg);
    }
   .arrow {
     grid-column: 7 / span 2;
     grid-row: 4/ span 2;
     background-image: url(~src/assets/Nasz-salon.jpg);
   }
  }


