<div class="banner">
    <h1>Jaworowy Fryz</h1>
    <h3>Studio fryzur by Jawor</h3>
    <button class="register-button" routerLink="/rezerwacja" mat-raised-button color="primary">Umów wizytę już dziś!</button>
</div>
