@import "src/app/shared/fonts.scss";

.banner {
  height: 400px;
  background-image: url('/../../../../../assets/background-white.jpg');
  background-position: center center;
  position: relative;
  object-fit: fill;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.7);
  h1, h3 {
    display: block;
    line-height: 60px;
    font-family: 'Gideon Roman', cursive;
    font-weight: bold;
    color: black;
    text-shadow: 3px 3px 5px whitesmoke;
    font-size: 70px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  h3 {
    font-family: 'Satisfy', cursive;
    top: 55%;
    font-size: 2vh;
    text-shadow: 1px 1px 2px #ffd740;
  }
  .register-button {
    position: absolute;
    top: 82%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 3px white;
    font-size: 18px;
    padding: 8px 20px;
  }
}