<form [formGroup]="remindForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label for="e-mail">e-mail: </mat-label>
        <input matInput id="e-mail" type="text" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label for="passcode">Kod: </mat-label>
        <input matInput id="passcode" type="text" formControlName="passcode">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Zaloguj</button>

</form>