<div class="wrapper">
 <mat-stepper [linear]="false" orientation="horizontal" #stepper>
        <mat-step [stepControl]="sexFormGroup" state="phone">
            <form [formGroup]="sexFormGroup">
                <ng-template matStepLabel>Usługa dla Pani/Pana?</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>Płeć</mat-label>
                    <mat-select formControlName="sex">
                        <mat-option value="sexMale" (click)="onToggleMale()">Mężczyzna </mat-option>
                        <mat-option value="sexFemale" (click)="onToggleFemale()">Kobieta </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Dalej</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="serviceFormGroup" label="Rodzaj usługi">
            <form [formGroup]="serviceFormGroup">
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-selection-list [multiple]="false">
                    <div *ngIf="maleStatus">
                        <mat-list-option *ngFor="let service of maleServices" [value]="service">
                            {{service.charAt(0).toUpperCase()+service.slice(1)}}
                        </mat-list-option>
                    </div>
                    <div *ngIf="!maleStatus">
                        <mat-list-option *ngFor="let service of femaleServices" [value]="service">
                            {{service.charAt(0).toUpperCase()+service.slice(1)}}
                        </mat-list-option>
                    </div>
                </mat-selection-list>
                <div>
                    <button mat-button matStepperPrevious>Cofnij</button>
                    <button mat-button matStepperNext>Dalej</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="calendarFormGroup" label="Termin usługi">
            <form [formGroup]="calendarFormGroup">
                <app-datepicker></app-datepicker>
                <div>
                    <button mat-button matStepperPrevious>Cofnij</button>
                    <button mat-button matStepperNext>Dalej</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Gotowe!</ng-template>
            <p>Do zobaczenia</p>
        </mat-step>
    </mat-stepper>
</div>