.btmFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    width: 100%;
    background-color: #673ab7;
    padding: 15px 0;
    .footer-title {
        font-family: 'Gideon Roman', cursive;
        font-weight: bolder;
        margin-left: 20px;
    }
    .media-bar {
        margin-right: 20px;
    }
    .media-bar > fa-icon{
        color: #673ab7;
        background-color: whitesmoke;
        padding: 5px;
        border-radius: 100%;
        margin: 0 7px;
    }
}