<footer class="btmFooter">
    <div class="footer-title"> <fa-icon [icon]="faCut" size="lg"></fa-icon> Studio fryzur - Jaworowy Fryz</div>
    <div class="media-bar">
           <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
           <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
           <fa-icon [icon]="faPhone" size="lg"></fa-icon>
    </div>
</footer>