.wrapper {
  margin: 0 auto;
  max-width: 700px;
  .pricelist-header {
    text-align: center;
    font-weight: bold;
  }

  .service-title {
    font-weight: bold;
  }
  .price {
    margin-right: 20px;
    font-weight: bold;
  }
  .service-description {
    font-size: 12px;
    font-weight: lighter;
  }
  .women-service {
    margin-top: 20px;
  }
}