<div class="wrapper">
    <h2 class="pricelist-header">Cennik</h2>
    <mat-list>
        <div *ngFor="let item of hairServices; index as index">
            <ng-template [ngIf]="index === 0">
                <div mat-subheader>Usługi dla Panów</div>
                <mat-divider></mat-divider>
            </ng-template>
            <ng-template [ngIf]="index === 4">
                <div mat-subheader>Usługi dla Pań</div>
                <mat-divider></mat-divider>
            </ng-template>
            <ng-template [ngIf]="($isHandset | async)" [ngIfElse]="mobile">
                <mat-list-item>
                    <h4 matLine>
                        <span class="service-title">{{item.serviceName}}</span>
                    </h4>
                    <div class="price">{{item.servicePrice}} zł</div>
                    <p matLine><span class="service-description">{{item.serviceDescriptionShort}}</span></p>
                    <button class="book" mat-raised-button color="primary">Umów</button>
                </mat-list-item>
            </ng-template>
            <ng-template #mobile>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="service-title">
                                {{item.serviceName}}
                            </mat-panel-title>
                            <div class="price">{{item.servicePrice}} zł</div>
                        </mat-expansion-panel-header>
                        <p class="service-description">{{item.serviceDescriptionShort}}</p>
                        <button class="book" mat-raised-button color="primary">Umów</button>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-template>
        </div>
    </mat-list>
</div>