<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar><fa-icon [icon]="faHome" size="lg"></fa-icon>Strona Główna</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/uslugi'>Usługi</a>
      <a mat-list-item routerLink='/galeria'>Galeria</a>
      <a mat-list-item routerLink='/kontakt'>Kontakt</a>
      <a mat-list-item routerLink='/rezerwacja'>Rezerwacja</a>
      <a mat-list-item routerLink='/kontakt'>Kontakt</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="hamburger" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="title" routerLink=''><span><fa-icon [icon]="faCut" size="lg"></fa-icon> Jaworowy Fryz</span></a>
      <span class="spacer"></span>
      <div class="vertical-menu">
        <a routerLink='/uslugi'>Usługi</a>
        <a routerLink='/galeria'>Galeria</a>
        <a routerLink='/kontakt'>Kontakt</a>
        <a routerLink='/rezerwacja'>Rezerwacja</a>
        <a routerLink='/rejestracja'><button mat-raised-button color="accent">Zaloguj się / Załóż konto</button></a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--fixedinviewport bylo na false-->