@import 'src/app/shared/fonts.scss';

.sidenav-container {
  //height: calc(100%-50px);
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.vertical-menu {
  display: none;
}

.title {
  text-decoration: none;
  color: white;
  font-family: 'Gideon Roman', cursive;
}

@media (min-width: 600px) {
  .sidenav {
    display: none;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .hamburger {
    display: none;
    margin: 20px;
  }
  .vertical-menu {
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 13px;
      margin: 0 20px;
      color: white;
      text-decoration: none;
    }
    a:last-child {
      margin: 0 0 0 20px;
    }
  }
}