<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>xd</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="xd">
    </mat-card-title-group>
    <mat-card-content>
        xd
    </mat-card-content>
</mat-card>