<div class="footer-calc">
    <app-navbar>
        <div class="content">
            <!--        <h1 class="title-h1">xs</h1>-->
            <router-outlet></router-outlet>
        </div>
    </app-navbar>
</div>
<app-footer></app-footer>
