.footer-calc {
    min-height: calc(100vh - 50.47px);
    .content {
        padding: 50px 0;
        max-width: 1080px;
        margin: 50px auto 0 auto;
        border-radius: 10px;
        background-color: whitesmoke;
    }
}
