<div class="timepicker">
    <div class="current-day">
        <button mat-button (click)="previousDay()"><fa-icon [icon]="faAngleLeft" size="lg"></fa-icon></button>
        <div>{{importedDayInfo.day}} {{importedDayInfo.weekday}} {{importedDayInfo.month}}</div>
        <button mat-button (click)="nextDay()"><fa-icon [icon]="faAngleRight" size="lg"></fa-icon></button>
    </div>
    <div class="part-of-day">
        <div class="part">Rano</div>
        <div class="part">Popołudnie</div>
        <div class="part">Wieczór</div>
    </div>
    <div class="day-schedule">
        <div class="part-content">
            <button mat-stroked-button class="time" *ngFor="let item of morningHours" (click)="onTimeSelect()">{{item}}</button>
        </div>
        <div class="part-content">
            <button mat-stroked-button class="time" *ngFor="let item of afternoonHours" (click)="onTimeSelect()">{{item}}</button>
        </div>
        <div class="part-content">
            <button mat-stroked-button class="time" *ngFor="let item of eveningHours" (click)="onTimeSelect()">{{item}}</button>
        </div>
    </div>
</div>