.timepicker {
  margin: 20px 0;
  .current-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .part-of-day {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #ffd740;
    .part {
      margin: 0 auto;
      padding: 3px;
    }
  }
  .day-schedule {
    display: flex;
    gap: 3px;
    .part-content {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3px;
      .time {
        width: 100%;
        color: rgba(0,0,0,.54);
        padding: 5px;
      }
      .time:hover:enabled, .time:focus-within {
        background-color: rgba(255, 215, 64, 0.15);
        border-color: #ffd740;
        transition: 0.4s;
      }
    }
  }
}