.calendar {
  padding-top: 20px;
  .month-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: large;
    }
  }
  max-width: 714px;
  margin: 0 auto;
  .day-of-week> div {
    color: whitesmoke;
    margin: 0 auto;
  }
  .day-of-week {
    padding: 5px;
    background-color: #673ab7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .day-of-week,
  .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px 2px;
    button {
      width: 100%;
      min-height: 40px;
      color: rgba(0,0,0,.54);
    }
    button:disabled {
      background-color: rgba(0, 0, 0, 0.17);
      border: 0;
    }
    button:hover:enabled, button:focus {
      background-color: rgba(103, 58, 183, 0.15);
      border-color: #673ab7;
      transition: 0.4s;
    }
  }
}
