<div class="calendar">
    <div class="month-bar">
        <button mat-button [disabled]="leftArrowClickState" (click)="previousMonth()"><fa-icon [icon]="faAngleLeft" size="lg"></fa-icon></button>
        <p>{{monthTranslated.toUpperCase()}}</p>
        <button mat-button [disabled]="rightArrowClickState" (click)="nextMonth()"><fa-icon [icon]="faAngleRight" size="lg"></fa-icon></button>
    </div>
    <div class="day-of-week">
        <div>Pn</div>
        <div>Wt</div>
        <div>Śr</div>
        <div>Czw</div>
        <div>Pt</div>
        <div>Sb</div>
        <div>Nd</div>
    </div>
    <div class="date-grid">
        <div *ngFor="let item of daysInMonth">
            <button id="item" mat-stroked-button (click)="showDaySchedule(item)" [disabled]="isEarlierThanToday(item,monthIndex+clickCount)||isSunday(item, monthIndex+clickCount)" [ngStyle]="!item ? {'display': 'none'} : {'display': 'block'}">{{item}}</button>
        </div>
    </div>
    <app-timepicker *ngIf="showTimepicker"></app-timepicker>
</div>