<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label mat-label for="e-mail">e-mail: </mat-label>
        <input matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label mat-label for="Hasło">hasło</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Zaloguj</button>
</form>