h2 {
    text-align: center;
    padding: 10px;
  }

.carousel-cell {
  box-shadow: 1px 4px 13px -2px rgb(0 0 0 / 14%);
  background-color: #f5f5f5;
  width: 150px;
  border-radius: 5px;
  h4 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  .thumbnail {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-image: url(~src/assets/strzyzenie-mezczyzna.svg);
  }
}