<h2>Sprawdź nasze usługi</h2>
<carousel [cellsToShow]="6" [loop]="true" [cellWidth]="200" [arrowsOutside]="true" [borderRadius]="5">
    <div class="carousel-cell" *ngFor="let item of hairServices">
        <h4>{{item.serviceName}}</h4>
        <div class="thumbnail"></div>
    </div>
</carousel>