<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>{{workerDetails[0].firstName}} {{workerDetails[0].lastName}}</mat-card-title>
        <mat-card-subtitle>{{workerDetails[0].email}}</mat-card-subtitle>
        <mat-card-subtitle>{{workerDetails[0].services}}</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
</mat-card>

