<div class="frame" fxLayout="row" fxLayoutAlign="space-around start" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
    <img class="cover-photo" src="/assets/Jan-Kowalski-fryzjer.jpg" alt="Jan Kowalski - fryzjer" fxFlex="auto">
    <div class="textfield" fxFlex.lt-md="grow">
        <h2>Witaj w naszym salonie!</h2>
        <p>Nazywam się Krzysztof Jaworski i jestem fryzjerem oraz barberem z 15 letnim doświadczeniem.</p>
        <p>Niezmiernie cieszę się, że trafiliście na tę stronę. Naszą misją jest sprawienie, abyście po wizycie w naszym salonie, wyszli uśmiechnięci i zadowoleni z efektu przemiany Waszych włosów.</p>
        <p>Oczywiście, życie jest piękniejsze, kiedy dzielimy je z innymi. Dlatego wraz z moją dzielną i doświadczoną załogą czekamy, aż zagościcie na naszych fotelach. &nbsp;><span class="more"><a
                href="#">nasza załoga</a></span> </p>
        <p>Do każdego klienta podchodzimy indywidualnie. Na podstawie wywiadu, zaproponujemy stylizację, która połączy Wasze oczekiwania z naszymi sugestiami, abyście w rezultacie mogli cieszyć się z efektu, który najlepiej podkreśli Wasze zalety. <span class="more">&nbsp;><a
                href="#">więcej o nas</a></span></p>
    </div>
</div>