.frame {
  padding: 20px 20px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  .cover-photo {
    margin: 20px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 25px;
  }
  .textfield {
    p {
      font-size: 100%;
    }
    margin: 20px;
    .more {
      font-weight: bold;
      a {
        text-decoration: underline 0.15em rgba(0, 0, 0, 0);
        color: #673ab7;
      }
      a:hover {
        text-decoration: underline;
        text-decoration-color: rgba(0, 0, 0, 1);
      }
    }
  }
}