<div class="container">
    <form appearance="fill" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" hintLabel="nazwa@domena.com">
            <mat-label for="e-mail">Adres e-mail: </mat-label>
            <input matInput type="text" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline" hintLabel="Wpisz swoje imię">
            <mat-label for="first-name">Imię: </mat-label>
            <input matInput type="text" formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline"
                        hintLabel="8-32 znaków, min. 1 mała litera, 1 duża litera, 1 znak specjalny">
            <mat-label>Wpisz swoje hasło:</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline"
                        hintLabel="Hasła muszą być identyczne.">
            <mat-label>Powtórz hasło:</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="repeatPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline" hintLabel="Bez prefiksu">
            <mat-label for="phone-number">Numer telefonu: </mat-label>
            <input matNativeControl id="phone-number" type="text" formControlName="phoneNumber">
        </mat-form-field>
        <div class="radios">
            <mat-radio-group appreance="outline" id="gender">
                <div class="genderGroup "*ngFor="let gender of genders" >
                    <mat-radio-button [value]="gender">{{gender}}</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
        <button mat-raised-button color="primary" type="submit">Potwierdź</button>
    </form>
</div>