<div class="container" fxLayout="column">
        <div class="contact" fxOrder.xs="1"fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
            <div class="address fa-tile">
                    <fa-icon [icon]="faAddressCard" size="3x"></fa-icon>
                    <ul>
                        <li>ul. Hynka 69</li>
                        <li>80-465 Gdańsk</li>
                    </ul>
            </div>
            <div class="phone fa-tile">
                <a href="tel:+48-732-949-233"><fa-icon [icon]="faPhone" size="3x"></fa-icon>
                <p>(+48) 732-949-233</p></a>
            </div>
            <div class="facebook fa-tile">
                <a href="https://facebook.com" target="_blank"><fa-icon [icon]="faFacebook" size="3x"></fa-icon>
                <p>Nasz facebook!</p></a>
            </div>
            <div class="email fa-tile">
                <a href="mailto:book@jaworowy-fryz.com"><fa-icon [icon]="faEnvelope" size="3x"></fa-icon>
                <p>book@jaworowy-fryz.com</p></a>
            </div>
            <div class="time fa-tile" fxFlexOrder.xs="-1">
                <ul>
                    <div class="status" *ngIf="!isOpened; else opened">
                        <fa-icon [icon]="faClock" [ngStyle]="{'color': 'red'}" size="3x"></fa-icon>
                        <h2>Teraz jesteśmy <span [ngStyle]="{'color': 'red'}">zamknięci</span>.</h2>
                        <h3>Zapraszamy w godzinach otwarcia salonu.</h3>
                    </div>
                    <ng-template #opened>
                        <div class="status">
                            <fa-icon [icon]="faClock" [ngStyle]="{'color': 'green'}" size="3x"></fa-icon>
                            <h2>Teraz jesteśmy <span [ngStyle]="{'color': 'green'}">otwarci</span>.</h2>
                        </div>
                    </ng-template>
                    <li><b>Pn - Pt:</b> 10:00 - 19:00</li>
                    <li><b>Sb</b>: 10:00 - 14:00</li>
                    <li><b>Nd:</b> Nieczynne</li>
                </ul>
            </div>
        </div>
    <div class="map-container" fxFlexOrder.xs="-2">
        <h1> Znajdź nas!</h1>
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2323.150515657425!2d18.590531415824653!3d54.389656380210866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd74c4ab64f601%3A0x2cdfc343eb5f49d9!2sHynka%2069%2C%2080-465%20Gda%C5%84sk!5e0!3m2!1spl!2spl!4v1632850214253!5m2!1spl!2spl" width="600" height="300" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
        </div>
    </div>
</div>
