h1 {
  margin-top: 10px;
  text-align: center;
}
.contact {
      .fa-tile {
        flex-basis: 25%;
        margin: 25px 0;
        text-align: center;
        font-size: 16px;
        border-radius: 10px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        fa-icon {
          line-height: 50px;
          color: #673ab7;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
      .fa-tile:hover:not(:first-child) {
        fa-icon {
          color: black;
          transition: 0.7s;
        }
        p {
          text-decoration: underline;
          transform-origin: left;
          transition-delay: 2s;
        }
      }
      .time {
        flex-basis: 100%;
        .status {
          padding: 15px 0 5px 0;
          h2 {
            margin-bottom: 0;
          }
        }
      }
    }

  .map-container {
    .map-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }
    .map-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
  }

