<app-worker-profile></app-worker-profile>
<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Rezerwacje"><app-datepicker></app-datepicker></mat-tab>
    <mat-tab label="xd"></mat-tab>
    <mat-tab label="Edytuj profil"><app-edit-profile></app-edit-profile></mat-tab>
</mat-tab-group>

